.authblock{
    width:500px;
    background: #e8ca14;
    margin: 0 auto;
    margin-top: 10px;
}

.authblock input[type=text],.authblock input[type=password]{
    width:440px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    padding:10px 5px 10px 15px;
    margin: 10px 0 0 20px;
    background:#222;
    border: none;
}

.authblock input[type=text],.authblock input[type=password]:focus{
    outline:none;
    font-style: normal;
}

.authblock input[type=text]::-webkit-input-placeholder {
    color: white;
}

.authblock input[type=password]::-webkit-input-placeholder {
    color: white;
}

.cellinput .authbutton{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding:20px 0;
    margin:0 0 5px 0;
    text-decoration: none;
    color: #222;
    background: #e8ca14;
    cursor: pointer;
    border:none;
    width:250px;
    float:left;
}

.cellinput .regbutton{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding:20px 0;
    margin:0 0 5px 0;
    text-decoration: none;
    color: #fff;
    background:#222;
    cursor: pointer;
    border:none;
    width:250px;
    float:left;
}

.authblock input[type=checkbox]{
    padding:10px 5px 10px 15px;
    margin: 10px 0 0 35px;
}

.authblock .buttonentry input[type=submit]{
    width:460px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    padding:10px 0 10px 0;
    margin: 10px 0 10px 20px;
    background:#222;
    border: none;
}

.authblock .buttonentry input[type=submit]:hover{
    background:#5c5c5c;
    cursor:pointer;
}

.authblock .buttonentry input[type=submit]:focus{
    outline: none;
}