.messageblock{
    float: right;
    width:690px;
    height: 600px;
    background-color: #fff;
}

.messageposttext textarea{
    position: absolute;
    width: 670px;
    top: 500px;
    height: 70px;
    background: inherit;
    color: inherit;
    font-family:inherit;
    padding: 10px;
    border: none;
    border-top:1px solid #e2dada;
    resize: none;
}

.messageposttext textarea:focus{
    outline: none;
}

.messagepost{
    margin: 0 0 0 10px;
}

.messagepost input[type="submit"]{
    position: absolute;
    top: 605px;
    text-decoration: none;
    color: inherit;
    background:#f8f8f8;
    padding:10px 5px;
    cursor: pointer;
    border:none;
    width: 200px;
}

.messagepost input[type="submit"]:hover{
    background:#e6e6e6;
}

.messagepost input[type="submit"]:focus{
    outline: none;
}

.yousaid{
    float: right;
    display:table;
    margin:10px 0 0 0;
    padding:10px;
    text-transform: uppercase;
    font-style: italic;
    background: #222;
    color:#fff;
}

.yousaid span{
    color:#e8ca14;
}

.yousaid a{
    color:#fff;
}

.messagefor{
    position: relative;
    width:665px;
    height:380px;
    margin: 5px 0 0 5px;
    padding:5px;
    background: inherit;
    overflow:hidden;
    display:inline-block;
    word-wrap: break-word;
}

.scrolling{
    width: 750px;
    height:380px;
    overflow-y: scroll;
}

.messagefortext{
    float: left;
    width:260px;
    padding:5px;
    background:#525252;
    color: inherit;
    resize: none;
    border:none;
    margin:5px 0 5px 0;
}

.notreadmsg{
    background:#f8f8f8;
    margin:3px 0 0 0;
}

.messageauthor{
    margin:0 0 5px 5px;
    padding:5px 0 0 0;
    font-weight: bold;
}

.messagetext{
    width:665px;
    padding:5px;

}

.titleunreadblock{
    background: #fff;
    padding:10px 0 0 0;
}

.titleunreadblock h1{
    width:280px;
    float: left;
    background: #222;
    color:#e2dada;
    text-transform: uppercase;
    padding:10px 0 10px 20px;
    font-size:16px;
    font-weight: normal;
    margin:5px 0 0 0;
}

.unread{
    position: relative;
    float: left;
    width:300px;
    background: #fff;
    padding:10px 0 5px 0;
    max-height:325px;
    overflow:hidden;
}

.scrollingmini{
    width: 400px;
    max-height:325px;
    overflow-y: scroll;
}

.unreadfriend{
    display: inline;
    float: left;
    width:300px;
    background:#222;
    margin: 0 0 5px 0;
}

.unreadfriend img{
    float: left;
    width:50px;
    height:50px;
    padding:5px;
}

.unreadfriend input[type="submit"]{
    margin: 5px 0 0 -5px;
    text-decoration: none;
    color: #fff;
    background:#222;
    cursor: pointer;
    border:none;
}

.unreadfriend input[type="submit"]:hover{
    color: #e8ca14;
}

.unreadfriend input[type="submit"]:focus{
    outline: none;
}

.unreadmsg{
    margin:7px 0 0 0;
}

.unreadmsg a{
    text-decoration: none;
    color:#222;
}

.unreadmsg a:hover{
    text-decoration: underline;
}

.unreadname{
    margin:10px 0 0 0;
    color:#fff;
}