.pagenewsmaterials{
    width: 250px;
}

.pagenewsmedia{
    float: left;
    width:300px;
    background: #fff;
    margin:5px 0 0 0;
}

.pagenewsmedia h1, .pagenewsother h1{
    background: #222;
    color:#e2dada;
    text-transform: uppercase;
    padding:10px 0 10px 20px;
    font-size:16px;
    font-weight: normal;
}

.pagenewsother{
    float: left;
    width:300px;
    background: #fff;
    margin:5px 0 0 0;
    padding:0 0 10px 0;
}

.pagenewsother a{
    text-decoration: none;
    color: #000;
    width:280px;
    display:table;
    padding:10px 0 10px 20px;
}

.pagenewsother a:hover{
    background:#e8ca14;
}

.pagenewscontent{
    float: right;
    width:670px;
    background: #fff;
    padding: 10px;
    margin:0 0 5px 10px;
}

.pagenewscontent p{
    width:670px;
}

.pagenewstop{
    width:670px;
    min-height: 50px;
}

.pagenewstitle{
    width:660px;
    margin: 10px 0 0 0;
    font-size:24px;
}

.pagenewsauthor{
    float:right;
    line-height: 30px;
    background: #e8ca14;
    padding: 0 10px;
}

.newscomments{
    width:670px;
}

.newscomments h2{
    font-weight: normal;
    padding: 15px 0 0 0;
    border-top:1px solid #e2dada;
}

.newscomments.block{
    display: table;
    width:670px;
    background:#f8f8f8;
    margin:0 0 5px 0;
}

.newscomments.block img{
    height: 50px;
    float: left;
    padding: 5px;
}

.newscomments.block p{
    width: 600px;
    margin: 5px 0 5px 65px;
}

.pagenewscomments{
    padding:10px 0 0 0;
}

.pagenewscomments textarea{
    width: 650px;
    height: 70px;
    background: inherit;
    color: inherit;
    font-family:inherit;
    padding: 10px;
    border: none;
    border-top:1px solid #e2dada;
    resize: none;
}

.pagenewscomments textarea:focus{
    outline: none;
}

.pagenewscomments input{
    text-decoration: none;
    color: inherit;
    background:#f8f8f8;
    padding:10px 5px;
    cursor: pointer;
    border:none;
    width: 200px;
}

.pagenewscomments input:hover{
    background:#e6e6e6;
}

.pagenewscomments input:focus{
    outline: none;
}