.regblock{
    width:500px;
    background: #222;
    margin: 0 auto;
    margin-top: 10px;
}

.regblock .regbutton input[type=submit]{
    width:460px;
    font-size: 15px;
    font-weight: normal;
    color: inherit;
    padding:10px 0 10px 0;
    margin: 10px 0 10px 20px;
    background: #f8f8f8;
    border: none;
}

.regblock .regbutton input[type=submit]:hover{
    background: #e6e6e6;
    cursor: pointer;
}

.regblock .regbutton input[type=submit]:focus{
    outline: none;
}

.regblock input[type=text],.regblock input[type=password],.regblock input[type=email]{
    width:440px;
    font-size: 15px;
    font-weight: normal;
    color: inherit;
    padding:10px 5px 10px 15px;
    margin: 10px 0 0 20px;
    background:#e8ca14;
    border: none;
}

.regblock input[type=text],.regblock input[type=password],.regblock input[type=email]:focus{
    outline:none;
    font-style: normal;
}

.regblock input[type=text]::-webkit-input-placeholder {
    color: #222;
}

.regblock input[type=password]::-webkit-input-placeholder {
    color: #222;
}

.regblock input[type=email]::-webkit-input-placeholder {
    color: #222;
}

.birthdatereg{
    width:440px;
    font-size: 15px;
    font-weight: normal;
    color: inherit;
    padding:8px 5px 8px 15px;
    margin: 10px 0 0 20px;
    background:#e8ca14;
    border: none;
}

.regblock p{
    display: inline;
    font-size: 15px;
    color: #222;
}

.regblock input[type=date]{
    width:320px;
    padding:0 0 0 10px;
    font-size: 15px;
    font-weight: normal;
    color: inherit;
    background:#e8ca14;
    border: none;
}

.regblock input[type=date]:focus{
    outline:none;
    font-style: normal;
}